<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233569956709-4h3vau5avc3bipb4bvd6aq9itk1joe3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233569956709-4h3vau5avc3bipb4bvd6aq9itk1joe3h</string>
	<key>API_KEY</key>
	<string>AIzaSyB19xBRRNH7yDDvk4Ljf7RHxL44INKdH4c</string>
	<key>GCM_SENDER_ID</key>
	<string>233569956709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatx</string>
	<key>PROJECT_ID</key>
	<string>chatx-31159</string>
	<key>STORAGE_BUCKET</key>
	<string>chatx-31159.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233569956709:ios:eb2b4b7b3e2d4ff287278c</string>
</dict>
</plist>